@mixin label
    color: $special-color
    font-size: $secondary-font-size
    font-style: normal
    font-weight: $normal-weight
    line-height: $primary-line-height
    letter-spacing: $secondary-letter-spacing

@mixin card-body
    display: flex
    flex-direction: column
    padding: 20px
    align-items: center
    gap: 10px

@mixin card-field
    display: flex
    align-items: center
    gap: 6px
